.col-xs-12: .box: h2.section-header Experience
.col-xs-12: .box
  h3
    | Backend developer 
    img(src=assetsUrl + "logos/nodejs-logo.svg" title="NodeJS")

  p 
    | 11.2019 – now 
    span#current.duration
    br
    a.company-name(target="_blank" href="https://droneup.com")
      img(src=assetsUrl + "logos/droneup-logo.png")
    
  p 
    | Implemented the Low Altitude Authorization and Notification Capability 
    | (#[a(target="_blank" href="https://www.droneup.com/laanc/") LAANC]) functionality for drone pilots
    
  hr

  h3
    | JS developer 
    img(src=assetsUrl + "logos/nodejs-logo.svg" title="NodeJS")
    img(src=assetsUrl + "logos/react-logo.svg" title="React")

  p 
    | 10.2017 – now 
    span#current.duration
    br
    a.company-name(target="_blank" href="https://backendless.com")
      img(src=assetsUrl + "logos/backendless-logo.png")
  hr
  h3 
    | Web developer 
    img(src=assetsUrl + "logos/angular-logo.svg" title="Angular")
    img(src=assetsUrl + "logos/nodejs-logo.svg" title="NodeJS")

  p 
    | 09.2016 – 10.2017 
    span.duration (1 year 1 month)
    br
    a.company-name#intelli-soft(target="_blank" href="https://intellisoftware.net")
      | Intelli
      span Soft
  p Implemented the web-app to manage resources 
    | distributed across multiple locations and monitored remotely via devices connected 
    | to mobile network. Application provide project management, 
    | resource scheduling, device monitoring, service planning, 
    | statistics and workflow-based notifications according to user roles and permissions.
  hr
  h3 
    | Front-end developer 
    img(src=assetsUrl + "logos/angular-logo.svg" title="Angular")
    
  p 
    | 01.2016 – 08.2016 
    span.duration (8 months)
    br
    a.company-name#softevol(target="_blank" href="https://softevol.com")
      img(src=assetsUrl + "softevol.png")
      | softevol
  p Implement interfaces for displaying and editing the game events schedule.

  h3 
    | Front-end developer 
    img(src=assetsUrl + "logos/meteor-logo.svg" title="MeteorJS")
  hr

  p 
    |	01.2015 – 12.2015 
    span.duration (1 year)
    br
    span.company-name#hmarochoice Hmarochoice
  p Creating CRM for small business. Implemented application architecture, authorization system, form builder, file manager.