.col-xs-12: .box: h2.section-header Experience
.col-xs-12: .box
  h3 
    | Front-end developer 
    img(src=assetsUrl + "logos/angular-logo.svg" title="Angular")
    img(src=assetsUrl + "logos/nodejs-logo.svg" title="NodeJS")

  p 
    | 09.2016 – present time 
    span.duration (1 year 1 month)
    br
    a.company-name#intelli-soft(href="//intellisoftware.net")
      | Intelli
      span Soft
  p Implement the web-app for a scheduling and monitoring of equipment state.

  h3 
    | Front-end developer 
    img(src=assetsUrl + "logos/angular-logo.svg" title="Angular")
    
  p 
    | 01.2016 – 08.2016 
    span.duration (8 months)
    br
    a.company-name#softevol(href="//softevol.com")
      img(src=assetsUrl + "softevol.png")
      | softevol
  p Implement interfaces for displaying and editing the game events schedule.

  h3 
    | Front-end developer 
    img(src=assetsUrl + "logos/meteor-logo.svg" title="MeteorJS")

  p 
    |	01.2015 – 12.2015 
    span.duration (1 year)
    br
    span.company-name#hmarochoice Hmarochoice
  p Creating CRM for small business. Implemented application architecture, authorization system, form builder, file manager.