section.row.skills
  .col-xs-12
      .box: h3.section-header Skills
  .col-sm-offset-1.col-sm-5
      .box
      img(src=assetsUrl + "logos/js-logo.svg" title="Java Script")
      img(src=assetsUrl + "logos/html5-logo.svg" title="HTML5")
      img(src=assetsUrl + "logos/css3-logo.svg" title="CSS3")
      img(src=assetsUrl + "logos/angular-logo.svg" title="Angular")
      img(src=assetsUrl + "logos/meteor-logo.svg" title="MeteorJS")
      img(src=assetsUrl + "logos/nodejs-logo.svg" title="NodeJS")
  .col-sm-3
      .box
      img(src=assetsUrl + "logos/webpack-logo.svg" title="Webpack")
      img(src=assetsUrl + "logos/gulp-logo.svg" title="Gulp")
      img(src=assetsUrl + "logos/git-logo.svg" title="Git")
  .col-sm-3
      .box
      img(src=assetsUrl + "logos/photoshop-logo.svg" title="Photoshop")
      img(src=assetsUrl + "logos/illustrator-logo.svg" title="Illustrator")