.col-xs-12: .box: h2.section-header Skills
.col-xs-12: .box.start-sm.center-xs
  img(src=assetsUrl + "logos/react-logo.svg" title="React")
  img(src=assetsUrl + "logos/angular-logo.svg" title="Angular")
  img(src=assetsUrl + "logos/meteor-logo.svg" title="MeteorJS")
  img(src=assetsUrl + "logos/nodejs-logo.svg" title="NodeJS")
  img(src=assetsUrl + "logos/webpack-logo.svg" title="Webpack")
  img(src=assetsUrl + "logos/gulp-logo.svg" title="Gulp")
  img(src=assetsUrl + "logos/git-logo.svg" title="Git")
  img(src=assetsUrl + "logos/photoshop-logo.svg" title="Photoshop")
  img(src=assetsUrl + "logos/illustrator-logo.svg" title="Illustrator")